body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    text-align: center;
    background-color: #315dbdb9;
    padding: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.praia {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2f8b9b;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#imagemGrande {
    width: 100%;
    height: auto;
    max-height: 500px;
    margin-bottom: 20px;
}

.galeria-container img {
    width: 150px;
    height: auto;
    margin: 5px;
    cursor: pointer;
}

.galeria-container {
    display: flex;
    justify-content: center;
}
img {
    max-width: 100%;
    height: auto;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
body {
    background-image: url "praia copacabana.jpeg";
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Faz com que o fundo fique fixo ao rolar a página */
}
